GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_OAUTH_CALLBACK_URL=http://localhost:4000/auth/github/callback

OPENAI_API_KEY=

DATABASE_URL="postgresql://user:password@localhost:5432/code_reviewer"

SESSION_SECRET=

AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
AWS_REGION=us-west-2            # or whatever region you enabled Bedrock in
BEDROCK_MODEL_ID=model_name   # e.g., amazon.titan-embed-text-v1

S3_BUCKET_NAME=your-bucket-name-here